*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main{
  width: 100%;
  margin: 50px auto;
  display: flex;
}

.blog{
  width: 90%;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #EEEEEE;
}
.blog:last-child{
  margin-right: 0;
}
.blog-img1{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom center;
}

.blog-img2{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom center;
}

.blog-img3{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom center;
}

.stepnumber{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #fff;
}
.title{
  margin: 15px 0 5px
}

footer{
  width: 100%;
  height: 50px;
  background-color: #AAAAAA
}

@media screen and (max-width:768px){
  header{
    width: 100%;
  }
  main{
    widows: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
  }
  .blog{
    width: 90%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .blog:last-child{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
.blog-img{
  height: 150px;
  background-size: cover;
  background-position: bottom center;
}
footer{
  width: 100%;
  height: 50px;
}